<!DOCTYPE html>
<html>
<head>
    <title>JSON Data Display</title>
</head>
<body>
    <h1>Data retrieved from Flask backend:</h1>
    <div id="output"></div>

    <script>
        function fetchData() {
            fetch('http://127.0.0.1:5003/get_network_data')
                .then(response => {
                    return response.clone().json();
                })
                .then(data => {
                    console.log(data); // Log the retrieved data

                    const outputDiv = document.getElementById('output');
                    const outputText = data.output;

                    outputDiv.innerText = outputText;

                    // Additional data can be displayed similarly using appropriate HTML elements
                    const rxData = data.rx + data.rx_unit;
                    const txData = data.tx + data.tx_unit;

                    const table = document.createElement('table');

                    // Creating rows for data display
                    const createRow = (key, value) => {
                        const row = table.insertRow();
                        const cell1 = row.insertCell(0);
                        const cell2 = row.insertCell(1);
                        cell1.innerHTML = key;
                        cell2.innerHTML = value;
                    };

                    createRow('Received Data', rxData);
                    createRow('Transmitted Data', txData);

                    outputDiv.appendChild(table);
                })
                .catch(error => console.error('Error:', error));
        }

        fetchData(); // Fetch data immediately

        // Fetch data every 13 seconds
        setInterval(() => {
            fetchData();
        }, 13000);
    </script>
</body>
</html>

